@(computerForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("Register"),"register") {

  <div class="row">
    <div class="span6">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>
    
  <div id="login" class="row">

    <div class="span3">
      @* Display proprietary login form *@
    	 @form(routes.Application.login()) {
        
        <fieldset>
        
            @inputText(computerForm("name"), '_label -> "Computer name")
            @inputText(computerForm("introduced"), '_label -> "Introduced date")
            @inputText(computerForm("discontinued"), '_label -> "Discontinued date")

           

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> 
        </div>
        
    }
    

}